
  
  /* About us */
  
  main .sobre-nosotros{
      padding: 30px 0 60px 0;
  }
  .contenedor-sobre-nosotros{
      display: flex;
      justify-content: space-evenly;
  }
  
  .imagen-about-us{
      width: 48%;
  }
  
  .sobre-nosotros .contenido-textos{
      width: 48%;
  }
  
  .contenido-textos h3{
      margin-bottom: 15px;
  }
  
  .contenido-textos h3 span{
      background: #4d0686;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      width: 30px;
      height: 30px;
      padding: 2px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
      margin-right: 5px;
  }
  
  .contenido-textos p{
      padding: 0px 0px 30px 15px;
      font-weight: 300;
      text-align: justify;
  }
  
  /* Galeria */
  
  
  .portafolio{
      background: #fff;
  }
  
  .galeria-port{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
  
  .imagen-port{
      width: 24%;
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  }
  
  .imagen-port > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
  }
  
  .hover-galeria{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      transform: scale(0);
      background: hsla(273,91%,27%, 0.7);
      transition: transform .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .hover-galeria img{
      width: 50px;
  }
  
  .hover-galeria p{
      color: #fff;
  }
  
  .imagen-port:hover .hover-galeria{
      transform: scale(1);
  }
  
  /* Clients */
  
  .cards{
      display: flex;
      justify-content: space-evenly;
  }
  
  .cards .card{
      background: #bc4e9c;
      display: flex;
      width: 46%;
      height: 200px;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  }
  
  .cards .card img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: 3px solid #fff;
      border-radius: 50%;
      display: block;
  }
  
  .cards .card > .contenido-texto-card{
      width: 60%;
      color: #fff;
  }
  
  .cards .card > .contenido-texto-card p{
      font-weight: 300;
      padding-top: 5px;
  }
  
  /*  Our team */
  
  .about-services{
      background: #f2f2f2;
      padding-bottom: 30px;
  }
  
  
  .servicio-cont{
      display:flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .servicio-ind{
      width: 28%;
      text-align: center;
  }
  
  .servicio-ind img{
      width: 90%;
      border-radius: 10px;
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      -ms-border-radius: 10;
      -o-border-radius: 10;
  }
  
  .servicio-ind h3{
      margin: 10px 0;
  }
  
  .servicio-ind p{
      font-weight: 300;
      text-align: justify;
  }
  
  /* footer */
  
  
  
  .titulo-final{
      text-align: center;
      font-size: 24px;
      margin: 20px 0 0 0;
      color: #9e9797;
  }
  
  @media screen and (max-width:900px){
      header{
          background-position: center;
      }
  
      .contenedor-sobre-nosotros{
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  
      .sobre-nosotros .contenido-textos{
          width: 90%;
      }
  
      .imagen-about-us{
          width: 90%;
      }
  
      /* Galeria */
  
      .imagen-port{
          width: 44%;
      }
  
      /* Clientes */
  
      .cards{
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  
      .cards .card{
          width: 90%;
      }
  
      .cards .card:first-child{
          margin-bottom: 30px;
      }
  
      /* servicios */
  
      .servicio-cont{
          justify-content: center;
          flex-direction: column;
      }
  
      .servicio-ind{
          width: 100%;
          text-align: center;
      }
  
      .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
          margin-bottom: 60px;
      }
  
      .servicio-ind img{
          width: 90%;
      }
  }
  
  
  
      /* ABOUT US */
  
      .imagen-about-us{
          margin-bottom: 60px;
          width: 99%;
      }
  
      .sobre-nosotros .contenido-textos{
          width: 95%;
      }
  
      /* Galeria */
  
      .imagen-port{
          width: 95%;
      }
  
      /* Clients */
  
      .cards .card{
          height: 450px;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      .cards .card img{
          width: 90px;
          height: 90px;
      }
  
      /* Footer */
  
      .contenedor-footer{
          flex-direction: column;
          border: none;
      }
  
      .content-foo{
          margin-bottom: 20px;
          text-align: center;
      }
  
      .content-foo h4{
          border: none;
      }
  
      .content-foo p{
          color: #ccc;
          border-bottom: 1px solid #f2f2f2;
          padding-bottom: 20px;
      }
  
      .titulo-final{
          font-size: 20px;
      }
  
  
  
  
  
  .registro{
     
      padding: 30px;
      margin: auto;
      margin-top: 100px;
      border-radius:4px ;
      font-family:'Calibri';
      color: #414141;
      box-shadow: 5px 1px 15px #000;
      margin-bottom: 40px;
  }
  .registro h4{
      font-size: 22px;
      margin-bottom: 20px;
  }
  .controls{
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 3px solid #1f53c5;
      font-family:'Calibri';
      font-size: 20px;
  
  }
  .registro P{
      height: 40PX;
      text-align: center;
      font-size: 18PX;
      line-height: 40px;
  
  }
  .registro a{
      color: white;
      text-decoration: none;
  
  }
  .registro a:hover{
      color: white;
      text-decoration: underline;
  }
  .registro .botons{
      width: 100%;
      color: white;
      background:#1f53c5;
      border: none;
      padding: 12px;
      font-size: 18PX;
  }
  
  
  .flexsearch--input-wrapper {
      padding: 0 66px 0 0; /* Right padding for submit button width */
      overflow: hidden;
  }
  
  .flexsearch--input {
    width: 150px;
  }
  .flexsearch--input {
    -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
       height: 40px;
    padding: 0 46px 0 10px;
      border-color: #888;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
      border-width: 5px;
    margin-top: 15px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
      font-size: 26px;

  }
  
  .flexsearch--submit {
    position: relative;
      left: 140px;
      top: 0;
      display: block;
      width: 60px;
      height: 60px;
    padding: 0;
    border: none;
      margin-top: -52px;; /* margin-top + border-width */
    margin-right: 5px; /* border-width */
      background: transparent;
    color: #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    line-height: 60px;
  }
  
  .flexsearch--input:focus {
    outline: none;
    border-color: #333;
  }
  
  .flexsearch--input:focus.flexsearch--submit {
       color: #333;
  }
  
  .flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
  }
  
  ::-webkit-input-placeholder {
      color: #888;
  }
  
  input:-moz-placeholder {
    color: #888;
  }

  